<h1>Add new food</h1>
<%= form_with model: @food, url: foods_path do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :measurement_unit %><br>
    <%= f.text_field :measurement_unit %>
  </div>
  <div>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <%= f.submit "Create Food" %>
<% end %>